.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 100%;
}

.title {
  text-align: center;
}

.row {
  width: 100%;
}

.greyborderline {
  border: 1px solid lightgray;
}

.formcenter {
  margin-left:30%;
}

.popup-container{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.topright {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size:10px;
  height: 30%;
  width:12%;
  background:red;
  opacity: 0.3;
  font-weight: bolder;
  font-size: large;
  color:white;
  border: none;
}
.popup-body {
  position: absolute;
  left: 37%;
  right: 37%;
  bottom: 30%;
  top: 10%;
  height:15%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#popupText
{
  color:red;
  bottom:30%;
  margin-top: 15%;
}


.qtywebcomponent {
  display: inline-block !important;
}

.description {
  text-align: justify;
  color: grey;
}


.cartbtn {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 2%;
  border: 4px solid red;
  border-bottom: 0px;
  border-radius: 5px;
  font-size: medium;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}
